body{
    background-color: seashell;
    background-size: cover;     
    overflow-x:hidden;
}

.main-section{
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.modal-content{
    background-color: #97ccd3; 
    opacity: .95;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #49c7d8;
}

.logingeneral{
    margin-top: -50px;
    margin-bottom: 35px;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 70px;
    border-radius: 5px;
}

.form-group2 input{
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 91px;
    border-radius: 5px;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.logininstitucion{
    position: relative;
    left: 330px;
}

.loginadmin2{
    position: relative;
    left: 330px;
}

.loginuser2{
    position: relative;
    left: 330px;
}

<<<<<<< HEAD
.general{
    position: relative;
    left: 150px;
}

#botonagregar{
    position: absolute;;
   
    
}
}
=======
.imgcolegio{
    width: 350px;
    height: 250px;
}

.detallcarousel{
    width: 600px;
}
>>>>>>> 7fc7571ef0da8f0606e5aedfc1d157482934a792
